h1{
 color:#e040fb;
 font-size: 50px;
 font-style: bold;
 text-align:center;
 padding-bottom:50px;
 font-family:"Comic Sans MS", cursive, sans-serif;

 }

 table{
 border-collapse: collapse;
    width: 100%;
 }

 table tr td {
 border: 2px solid black;
 padding-top:12px;
 padding-bottom:12px;
 font-size:20px;
}

table tr th{
	border: 2px solid black;
	font-weight:bold;
	font-size:15px;
	background-color:#e1bee7;
	width:200px;
}
a{
display: block;
text-decoration: none;
width: 100px;
margin: 10px auto;
padding: 5px;
background: #ccc;
color:#444;
text-align:center;
font-size:15px;
box-shadow: 2px 2px 0px #212121;
font-weight: bold;
}

.list_image {
width: 250px;
height: 250px;
}

.list_description {
width: 60%;
dl {
margin: 0;
}

dt {
color: #244;
font-weight:bold;
font-size:larger;
}

dd {
margin: 0;
}
}
.list_actions {
font-size: x-small;
text-align:right;
padding-left: 1em;
}
.list_line_even {
background:#fff;
}
.list_line_odd {
background:#f8b0f8;
}
