// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 h1{
	margin:0;
	padding-bottom: 0.5em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color:  #e91e63;
	border-bottom: 3px dotted #77d;
	}

	.entry{
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px dotted #77d;
	min-height: 100px;
	}

	img{
	width: 200px;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
	padding-left:70px;
	}

	h3{
	font-size: 150%;
	font-family: sans-serif;
	margin-left: 120px;
	margin-top: 0;
	margin-bottom: 2px;
	color: #227;
	}

	p, div,price_line{
	margin-left: 50px;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	}

	.price{
	color: #44a;
	font-weight: bold;
	margin-right: 3em;
	margin-left: 80px;
	}
body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#banner {
position: relative;
min-height: 40px;
background: #9c9;
padding: 10px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: #282;
text-align: center;

img {
position: absolute;
top: 0;
left: 0;
width: 192px;
height:150px;
padding-left: 5px;
padding-top: 5px;
}
}
#notice {
color: #000 !important;
border: 2px solid red;
padding: 1em;
margin-bottom: 2em;
background-color: #f0f0f0;
font: bold smaller sans-serif;
}
#notice:empty {
display: none
}
#columns {
padding-top:50px;
background: #141;
display: flex;


#main {
padding: 1em;
background: white;
flex: 1;
}
#side {
padding: 1em 2em;
background: #141;


ul {
padding: 0;

li {
list-style: none;
padding:5px;

a {
color: #e91e63;
font-size: large;
background-color: white;
}
}
}
}
}
@media all and (max-width: 800px) {
#columns {
flex-direction: column-reverse;
}
}
@media all and (max-width: 500px) {
#banner {
height: 1em;
}
#banner .title {
display: none;
}
}