// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 h1{
	margin:0;
	padding-bottom: 0.5em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color:  #e91e63;
	border-bottom: 3px dotted #77d;
	}

	.entry{
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px dotted #77d;
	min-height: 100px;
	}

	img{
	width: 200px;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
	padding-left:70px;
	}

	h3{
	font-size: 150%;
	font-family: sans-serif;
	margin-left: 120px;
	margin-top: 0;
	margin-bottom: 2px;
	color: #227;
	}

	p, div,price_line{
	margin-left: 50px;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	}

	.price{
	color: #44a;
	font-weight: bold;
	margin-right: 3em;
	margin-left: 80px;
	}
